.clearfix:after {content:""; display:table; clear:both;}
.clearfix {*zoom:1}
.pull-left {display:block; float:left;}
.pull-right {display:block; float:right;}

/* Start Custom Comments' CSS */
.custom-comments {display:block; margin:3em 0 0; font:normal normal 13px/1.4 Tahoma,Arial,Sans-Serif; letter-spacing:0;}

/* links */
.custom-comments a,.custom-comments a:visited {color:#2143B4; text-decoration:none;}
.custom-comments a:hover {text-decoration:underline}

/* comment item */
.custom-comments .comment-item {margin:0 0 1em; padding:0 0 .7em 0; border-bottom:1px solid #eee; position:relative;}

/* comment header */
.custom-comments .comment-header { overflow:hidden; margin:0 0 1em 0;}

/* avatar area */
.custom-comments .avatar-box {width:65px; margin:0 0 20px 0;}

/* avatar */
.custom-comments .avatar-image-container,
.custom-comments .avatar-image-container a,
.custom-comments .avatar-image-container img {border:none; padding:0 0; margin:0 0; float:none; display:block; width:50px; height:50px;
 max-width:none; max-height:none;}
.custom-comments .avatar-image-container img {border:1px solid #ddd; padding:4px; background-color:#fafafa;}

/* comment body */
.custom-comments .comment-body {margin:0 0 2em 75px}

/* comment reply */
.custom-comments .comment-reply {margin:1em 0 0 75px; padding:1em 1.2em; background-color:#FFF7D1; position:relative; font-size:11px;}
.custom-comments .comment-reply:after {content:""; display:block; width:0; height:0; position:absolute; top:0; left:0; 
 border:10px solid transparent; border-color:white #F5F2D8 #F5F2D8 white;}
.custom-comments .comment-reply .user {margin-left:15px}
.custom-comments .comment-reply a {color:#767643}
.custom-comments .comment-reply .avatar-image-container img {border-color:#EAE5C4; background-color:#F5F0D3;}

/* comment item footer */
.custom-comments .comment-bottom-line {display:block; clear:both; margin:1em 0 .5em 75px; text-align:right;}

/* comment buttons */
.custom-comments .comment-bottom-line a,
.custom-comments .cancel-reply-btn {border:1px solid #ddd; outline:none; padding:2px .7em 3px .5em; margin:0 0 0 4px; 
 -webkit-border-radius:10px; -moz-border-radius:10px; border-radius:10px; text-decoration:none;}
.custom-comments .comment-reply .comment-bottom-line a,.custom-comments .cancel-reply-btn {border-color:#EAE5C4}
.custom-comments .comment-bottom-line a:before {content:attr(data-icon) " "}
.custom-comments .comment-bottom-line .reply-btn:before {color:#3DB537}
.custom-comments .comment-bottom-line .delete-btn:before {color:#B42A21}
.custom-comments .comment-bottom-line a:hover,.custom-comments .cancel-reply-btn:hover {border-color:#bbb; text-decoration:none;}

.custom-comments .comment-bottom-line a:active,
.custom-comments .comment-bottom-line a:focus,
.custom-comments .cancel-reply-btn:active,
.custom-comments .cancel-reply-btn:focus {border-color:#999}
.custom-comments .cancel-reply-btn {padding:3px 1em 4px}

/* comment form */
.custom-comments .custom-comment-form { margin:1em 0 2em; clear:both;}
.custom-comments .comment-item .custom-comment-form {border:1px solid #eee; padding:1em .2em 2em 1.5em; margin-left:75px;}
.custom-comments #comment-editor {max-width:none; width:100%; height:250px; border:none; background:none;}
.custom-comments .custom-comment-form .cancel-reply-btn {display:none}
.custom-comments .comment-item .custom-comment-form .cancel-reply-btn {display:inline}
.custom-comments .comment-item .custom-comment-form h4 {display:none}

/* loading animation */
.custom-comments .custom-comment-editor-wrapper {background:transparent url('data:image/gif;base64,R0lGODlhEgAEAKEAAH9/fwAAAAAAAAAAACH/C05FVFNDQVBFMi4wAwEAAAAh+QQJDwACACwAAAAAEgAEAAACB5SPqcvtrwoAIfkECQ8AAgAsAAAAAAQABAAAAgSEjwkFACH5BAkPAAIALAAAAAALAAQAAAIMjCMJC4fKXBKsnVkLACH5BAkPAAIALAAAAAASAAQAAAIRjCN5mOCwkojt0Xnkg1l1sRUAIfkECQ8AAgAsAAAAABIABAAAAhGEIRkbKRwOUsxBaStdeDdfAAAh+QQJDwACACwHAAAACwAEAAACDIQhGRuHylwSrJ1ZCwAh+QQFDwACACwOAAAABAAEAAACBISPCQUAOw==') no-repeat 50% 50%}

/* deleted comment */
.custom-comments .deleted-comment {font-style:italic; color:#aaa;}

/* comments paging control */
.custom-comments .paging-control-container {font-size:80%; text-align:center; width:auto; height:auto; line-height:normal; margin:1em 0;
 float:none; display:block; clear:both; border:1px solid #eee; padding:.5em 1em; overflow:hidden;}
.custom-comments .paging-control-container .unneeded-paging-control {display:none}
.custom-comments .paging-control-container .paging-control {display:inline}

/* Author Comments Style: Do whatever you want with this! */
.author-comment > .comment-item {}
.author-comment > .comment-reply {}