/*----- body ----*/
@font-face {font-family: 'Carrois Gothic'; font-style: normal; font-weight: 400;
src: local('Carrois Gothic'), local('CarroisGothic-Regular'), url(http://themes.googleusercontent.com/static/fonts/carroisgothic/v1/GCgb7bssGpwp7V5ynxmWy2IHn70NeZKJ0uStDo7Dza8.woff) format('woff');}

@font-face {font-family: 'Merriweather'; font-style: normal; font-weight: normal;
src: local('Merriweather'), url(http://xcinc.googlecode.com/files/Merriweather.ttf) format('truetype')}

body
{background:url(https://lh3.googleusercontent.com/-UTbF54ULOkI/UGWPYcN0pvI/AAAAAAAAAPc/ZoyldrE8H2c/s800/bg.png) repeat; margin:0; color:#222; 
font-family:'Merriweather','Carrois Gothic', Arial, Trebuchet MS; font-size:11px}
#navbar-iframe, .quickedit{ display:none; }
a:link,a:visited{color:#004b91; text-decoration:none}
a:hover{color:#e47911; text-decoration:none}
a img{border-width:0}

/*----- topnav ----*/
#backtop{position:fixed; width:100%; height:23px; top:0; text-align:center;
box-shadow:0 1px 6px rgba(0,0,0,.2); -webkit-box-shadow:0 1px 6px rgba(0,0,0,.2); -moz-box-shadow:0 1px 6px rgba(0,0,0,.2);
background:#0574ad; background:-webkit-gradient(linear,left top,left bottom,from(#0574ad),to(#004b91)); background:-moz-linear-gradient(top,#0574ad,#004b91); background:-o-linear-gradient(top,#0574ad,#004b91); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0574ad',endColorstr='#004b91')}

#topcont{height:25px; width:920px; padding:3px 10px 10px; margin:0 auto; text-align:left;
border-left:1px  solid #ccc;  border-right:1px  solid #ccc; border-bottom:1px  solid #ccc; 
border-radius:0 0 3px 3px; -webkit-border-radius:0 0 3px 3px; -moz-border-radius:0 0 3px 3px;
box-shadow:0 1px 6px rgba(0,0,0,.2); -webkit-box-shadow:0 1px 6px rgba(0,0,0,.2); -moz-box-shadow:0 1px 6px rgba(0,0,0,.2);
background:url(https://lh3.googleusercontent.com/-UTbF54ULOkI/UGWPYcN0pvI/AAAAAAAAAPc/ZoyldrE8H2c/s800/bg.png) repeat}

.serv{float:left; width:auto; margin:2px 0; font-size:11px; font-weight:bold; color:#004b91}
.phone{float:left; width:auto; height:29px; margin-left:10px; padding:0 30px; font-size:13px; font-weight:bold; color:#004b91; text-shadow:0 1px 1px rgba(0,0,0,.3);
background:url(https://lh4.googleusercontent.com/-kZ8xyBS-7uU/UHpbwP9tFSI/AAAAAAAAAVM/JlehZTxDvb8/s800/phone%252024x.png) no-repeat 0 3px}

/*----- h2 ----*/
.sidebar, .online, .map, .ads, .share, .find, .market1, .market2, .profile{color:#666;}
#topfooter h2{font-size:12px; color:#666}
.sidebar h2, .online h2, .popular h2, .map h2, .market1 h2 {font-size:12px; color:#ededed}


/*----- wrapper ----*/
#outer-wrapper{width:970px; margin:0 auto; padding:5px 10px; text-align:left}
#wrap2{margin:0 15px}
#main-wrapper{width:610px; float:right; overflow:hidden}
#sidebar-wrapper{width:315px; float:left; overflow:hidden} 
#navbar-iframe{height:0px; visibility: hidden}

 /*----- header ----*/
#header-wrapper{width:950px; margin:20px auto; padding:0}
#header-inner{background-position:[center];margin-left:auto;margin-right:auto}
#header{float:right; width:auto;overflow:hidden;color:#666;padding:0;margin:0; text-align:right}
#header h1{margin:0; padding:0; line-height:1.2em; font-size:16px; text-shadow:0 1px 1px rgba(0,0,0,.3)}
#header a{color:#004b91 !important; text-decoration:none}
#header a:hover{color:#e47911 !important}
.description{margin:0;padding:0 1px 5px; color:#e47911}
#header img{margin-left:auto;margin-right:auto}
#logo{float:left; max-width:300px; height:80px; margin:20px 0 -15px}
#topbanner{float:right;padding:0;margin:20px 10px -15px 0; width:450px;height:80px;overflow:hidden}

/*----- back menu ----*/
#crosscol-wrapper{padding:0; font-size:12px; height:35px;
border:solid 1px #555; border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px; 
box-shadow:0 1px 2px rgba(0,0,0,.2); -webkit-box-shadow:0 1px 2px rgba(0,0,0,.2); -moz-box-shadow:0 1px 2px rgba(0,0,0,.2);  
background:#6e6e6e; 
background: linear-gradient(top,#888,#575757); 
background:-webkit-gradient(linear,left top,left bottom,from(#888),to(#575757)); 
background:-webkit-linear-gradient(top,#888,#575757); 
background:-moz-linear-gradient(top,#888,#575757);
background:-o-linear-gradient(top,#888,#575757); 
background:-ms-linear-gradient(top,#888,#575757); 
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#888888',endColorstr='#575757')}

/*----- menu ----*/
nav{list-style: none; margin:0; padding: 0; text-transform:uppercase; letter-spacing:0.5px;}
.sep{border-left:1px solid #555; height:100%}
.last{border-left:1px solid #555; border-right:1px solid #555; height:100%}

.home{list-style: none; margin: 0}
.home a, .home a:link{color:#ededed; display: block; margin: 0; padding:10px; text-decoration: none; 
border-radius:3px 0 0 3px; -webkit-border-radius:3px 0 0 3px; -moz-border-radius:3px 0 0 3px}
nav ul{margin:0; padding:0}
nav li { float:left; list-style: none; margin: 0; padding: 0}
nav li a:link, nav li a:visited {color:#ededed; display: block; margin: 0; padding:10px; text-decoration: none}
nav li a:hover, .topactive{color:#ededed; display: block; text-decoration: none; 
margin: 0; padding:10px;
background:#616161;
background: linear-gradient(top,#757575,#4b4b4b);  
background:-webkit-gradient(linear,left top,left bottom,from(#757575),to(#4b4b4b));
background:-webkit-linear-gradient(top,#757575,#4b4b4b);  
background:-moz-linear-gradient(top,#757575,#4b4b4b); 
background:-o-linear-gradient(top,#757575,#4b4b4b); 
background:-ms-linear-gradient(top,#757575,#4b4b4b); 
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#757575',endColorstr='#4b4b4b')}

nav li ul {z-index: 9999; position:absolute; left: -999em; height:auto; width: 230px; margin:0 0 0 -1px; padding:3px; text-transform:capitalize;
background:#575757; -moz-opacity:.90; filter:alpha(opacity=90); opacity:.90; 
box-shadow:0 1px 2px rgba(0,0,0,.5); -webkit-box-shadow:0 1px 2px rgba(0,0,0,.5); -moz-box-shadow:0 1px 2px rgba(0,0,0,.5); 
border-radius:0 0 3px 3px; -webkit-border-radius:0 0 3px 3px; -moz-border-radius:3px;}
nav li:hover ul li, nav li:hover ul li ul, nav li.sfhover ul li, nav li.sfhover ul li {left: -999em}
nav li:hover ul, nav li li:hover ul, nav li li li:hover ul, nav li.sfhover ul, nav li li.sfhover ul, nav li li li.sfhover ul {left: auto}
nav li:hover, nav li.sfhover {position: static}
nav li ul li a, nav li ul li a:link{width:210px; text-align:left; margin:0; padding: 8px 10px; 
text-decoration: none; z-index:9999; border-bottom:1px solid #333;}
nav li ul li a:hover{display: block; margin:0; padding:8px 10px; background:#888}

/*----- search ----*/
.search{float:right; padding:0; margin: 6px 10px 0 0}
.searchBox{font-style:italic; background:#808080; width:200px; padding:3px; margin:0; color: #ededed; 
border-top:1px solid #555; border-bottom:1px solid #555; border-left:1px solid #555; 
border-radius:4px 0px 0px 4px; -webkit-border-radius:4px 0px 0px 4px; -moz-border-radius:4px 0px 0px 4px}
.searchBox:focus{background:url(https://lh3.googleusercontent.com/-UTbF54ULOkI/UGWPYcN0pvI/AAAAAAAAAPc/ZoyldrE8H2c/s800/bg.png) repeat; border-color:#555; color:#111}

.button{display:inline-block;zoom:1;*display:inline; vertical-align:baseline; margin:0px 0px 0px -7px; outline:none; cursor:pointer; text-align:center; text-decoration:none; padding:3px 5px; 
border-radius:0px 3px 3px 0px; -webkit-border-radius:0px 3px 3px 0px; -moz-border-radius:0px 3px 3px 0px;
color:#ededed; border:solid 1px #555; 
background:#6e6e6e; background:-webkit-gradient(linear,left top,left bottom,from(#888),to(#575757)); background:-moz-linear-gradient(top,#888,#575757); background:-o-linear-gradient(top,#888,#575757); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#888888',endColorstr='#575757')}

.button:hover
{background:#6e6e6e; background:-webkit-gradient(linear,left top,left bottom,from(#888),to(#2c2c2c)); background:-moz-linear-gradient(top,#888,#2c2c2c); background:-o-linear-gradient(top,#888,#2c2c2c); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#888888',endColorstr='#2c2c2c')}

.button:active,.button:visited
{position:relative; top:1px; color:#afafaf; background:-webkit-gradient(linear,left top,left bottom,from(#575757),to(#888)); background:-moz-linear-gradient(top,#575757,#888); background:-o-linear-gradient(top,#575757,#888); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#575757',endColorstr='#888888')}

/*----- marketing ----*/
.online h2{margin:-5px 0 8px -5px; width:100%;  padding:5px; border-top:solid 1px #ccc;
background:#f47c20; 
background: linear-gradient(top,#f88e11,#f06015); 
background:-webkit-gradient(linear,left top,left bottom,from(#f88e11),to(#f06015)); 
background:-webkit-linear-gradient(top,#f88e11,#f06015); 
background:-moz-linear-gradient(top,#f88e11,#f06015); 
background:-o-linear-gradient(top,#f88e11,#f06015); 
background:-ms-linear-gradient(top,#f88e11,#f06015); 
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11',endColorstr='#f06015');
box-shadow:0 1px 2px rgba(0,0,0,.2); -webkit-box-shadow:0 1px 2px rgba(0,0,0,.2); -moz-box-shadow:0 1px 2px rgba(0,0,0,.2);}
.online img{float:center}

.online .widget{
text-align:justify; margin:10px 0; padding:5px; border-left:1px  solid #ccc;  border-right:1px  solid #ccc; border-bottom:1px  solid #ccc; 
border-radius:0 0 3px 3px; -webkit-border-radius:0 0 3px 3px; -moz-border-radius:0 0 3px 3px;
box-shadow:0 1px 2px rgba(0,0,0,.2); -webkit-box-shadow:0 1px 2px rgba(0,0,0,.2); -moz-box-shadow:0 1px 2px rgba(0,0,0,.2);
background:#fff; 
background: linear-gradient(top, #ffff, #ededed);
background:-webkit-gradient(linear,left top,left bottom,from(#fff),to(#ededed)); 
background:-webkit-linear-gradient(top, #ffff, #ededed);
background:-moz-linear-gradient(top, #fff, #ededed); 
background:-o-linear-gradient(top, #ffff, #ededed);
background:-ms-linear-gradient(top, #ffff, #ededed);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff';,endColorstr='#ededed')}

/*----- map navigation ----*/
.map h2, .market1 h2{margin:-5px 0 8px -5px; width:100%;  padding:5px; border-top:solid 1px #ccc; 
background:#64991e; 
background: linear-gradient(top, #7db72f, #4e7d0e);
background:-webkit-gradient(linear,left top,left bottom,from(#7db72f),to(#4e7d0e)); 
background:-webkit-linear-gradient(top, #7db72f, #4e7d0e);
background:-moz-linear-gradient(top, #7db72f, #4e7d0e); 
background:-o-linear-gradient(top, #7db72f, #4e7d0e);
background:-ms-linear-gradient(top, #7db72f, #4e7d0e);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=&#39;#7db72f&#39;,endColorstr=&#39;#4e7d0e&#39;);  box-shadow:0 1px 2px rgba(0,0,0,.2); -webkit-box-shadow:0 1px 2px rgba(0,0,0,.2); -moz-box-shadow:0 1px 2px rgba(0,0,0,.2)}

/*----- popular ----*/
.popular{color:#666; line-height:1.5em}
.popular h2{margin:-5px 0 8px -5px; width:100%; padding:5px; border-top:solid 1px #ccc;
background:#6e6e6e; 
background: linear-gradient(top,#888,#575757); 
background:-webkit-gradient(linear,left top,left bottom,from(#888),to(#575757)); 
background:-webkit-linear-gradient(top,#888,#575757); 
background:-moz-linear-gradient(top,#888,#575757); 
background:-o-linear-gradient(top,#888,#575757); 
background:-ms-linear-gradient(top,#888,#575757); 
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#888888',endColorstr='#575757');
box-shadow:0 1px 2px rgba(0,0,0,.2); -webkit-box-shadow:0 1px 2px rgba(0,0,0,.2); -moz-box-shadow:0 1px 2px rgba(0,0,0,.2)}
.popular ul,{list-style:none; display:inline; margin:0; padding:0}
.popular li{ list-style:none; text-indent:0; margin:0; padding:5px; border-bottom:1px dotted #ccc}
.popular .item-thumbnail{width:85px; height:85px; float:left; margin-left: -5px; border:2px solid #ccc}

/*----- sidebar ----*/
.sidebar h2{margin:-5px 0 8px -5px; width:100%;  padding:5px; color:#ededed; border-top:solid 1px #ccc; 
background:#6e6e6e; 
background: linear-gradient(top,#888,#575757); 
background:-webkit-gradient(linear,left top,left bottom,from(#888),to(#575757)); 
background:-webkit-linear-gradient(top,#888,#575757); 
background:-moz-linear-gradient(top,#888,#575757); 
background:-o-linear-gradient(top,#888,#575757); 
background:-o-linear-gradient(top,#888,#575757); 
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#888888',endColorstr='#575757');  
box-shadow:0 1px 2px rgba(0,0,0,.2); -webkit-box-shadow:0 1px 2px rgba(0,0,0,.2); -moz-box-shadow:0 1px 2px rgba(0,0,0,.2)}
.sidebar ul,{list-style:none;margin:0 0 0;padding:0 0 0}
.sidebar li{background:url(http://2.bp.blogspot.com/-47J9PtD6rAs/TsFyYBqUxBI/AAAAAAAACe8/nX6c2RZ9Yi8/s000/list_bg.png) no-repeat left center; margin:0; padding:2px 0 2px 25px; text-indent:-15px; line-height:1.5em; border-bottom:1px solid #ccc}

.sidebar .widget, .main .widget, .map .widget, .popular .widget, .market1 .widget{text-align:justify; margin:10px 0; padding:5px; background:#fdfdfd;
border-left:1px  solid #ccc; border-right:1px  solid #ccc; border-bottom:1px  solid #ccc; 
border-radius:0 0 3px 3px; -webkit-border-radius:0 0 3px 3px; -moz-border-radius:0 0 3px 3px;}

.ads .widget{height:279px; text-align:justify; margin:10px 0; padding:10px 5px 5px; 
border:1px  solid #ccc; background:#fdfdfd;
border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px;}

.share .widget, .profile .widget{text-align:justify; margin:10px 0; padding:10px 5px 5px;  
border:1px  solid #ccc; background:#fdfdfd;
border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px;}

.find .widget, .market2 .widget{text-align:justify; margin:10px 0; padding:10px 5px 5px; 
border:1px  solid #ccc; border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px; background:#fdfdfd; 
box-shadow:0 1px 2px rgba(0,0,0,.2); -webkit-box-shadow:0 1px 2px rgba(0,0,0,.2); -moz-box-shadow:0 1px 2px rgba(0,0,0,.2)}

/*----- breadcrumbs ----*/
.breadcrumbs{padding:0 5px 4px 0;margin:0 5px 5px 0;font-size:10px;border-bottom:1px dashed #ccc}

/*----- post ----*/
#Blog1{border:1px solid #ccc; padding:4px 0px 4px 4px; margin:10px 0; background:#fdfdfd; 
border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px;
box-shadow:0 1px 2px rgba(0,0,0,.2); -webkit-box-shadow:0 1px 2px rgba(0,0,0,.2); -moz-box-shadow:0 1px 2px rgba(0,0,0,.2)}

.post h2{margin:5px 0;padding:0 0 5px 0; font-size:16px; font-weight:bold; border-bottom:1px solid #ccc}
.date-header{background:#ededed; margin:0 5px 0 0; font-size:12px; padding:2px 0px 2px; font-weight:normal}
.post{text-align:justify; margin-right:5px; border-bottom:1px dotted #ccc; padding:0}
.post-body{margin:10px 0px; line-height:1.6em}
.post-body blockquote{line-height:1.3em}
.post-footer{margin:0.75em 0;color:#999;font-size:11px;line-height:1.4em}
.comment-link{margin-left:0.6em}
.post img, table.tr-caption-container{padding:4px;border:1px solid #ccc}
.tr-caption-container img{border:none;padding:0}
.post blockquote{margin:1em 20px}
.post blockquote p{margin:0.75em 0}
.post th{font-size:14px; background:#f2f2f2;padding:2px 8px}
.post td{border-top:1px solid #dfdfdf;background:#f9f9f9;padding:2px 8px}
.post table{margin:10px 0 0;width:100%;padding:0;border:1px solid #dfdfdf}

.name{font-weight:bold; letter-spacing:0.5px}

.hreview,.item{display:block}
pre{border:1px solid #ccc;background:#f9f9f9;overflow:auto;color:#666;margin:5px 0;padding:5px}
.red{color:red;font-size:11px}
.info{display:none;text-indent:-9999px}

 /*----- tabdiv ----*/
#tabzine{width:100%; float:left; margin:0 0 10px 0; padding:0; word-wrap:break-word; overflow:hidden}
.tabview{float:left; overflow:hidden}
ul.tabnav{padding:5px; margin:0 0 0 5px}
.tabnav li{display:inline; list-style:none; float:left; text-align:center; font-size:12px; padding:0; margin:0;}
.tabnav li a{color:#555; width:120px; padding:5px; margin:0 8px 0 0; display:block; border:1px solid #ccc;
border-radius:3px 3px 0 0; -webkit-border-radius:3px 3px 0 0; -moz-border-radius:3px 3px 0 0;
background:#fff;
background: linear-gradient(top,#fff,#ededed);
background:-webkit-gradient(linear,left top,left bottom,from(#fff),to(#ededed)); 
background:-webkit-linear-gradient(top,#fff,#ededed);
background:-moz-linear-gradient(top,#fff,#ededed); 
background:-o-linear-gradient(top,#fff,#ededed);
background:-ms-linear-gradient(top,#fff,#ededed);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff' ,endColorstr='#ededed')}

.tabnav li a:active, .tabnav li.ui-tabs-selected a, .tabnav li a:hover{
background:#fff;
background: linear-gradient(top,#ededed,#fff);
background:-webkit-gradient(linear,left top,left bottom,from(#ededed),to(#fff)); 
background:-webkit-linear-gradient(top,#ededed,#fff);
background:-moz-linear-gradient(top,#ededed,#fff); 
background:-o-linear-gradient(top,#ededed,#fff);
background:-ms-linear-gradient(top,#ededed,#fff);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed' ,endColorstr='#ffffff')}

.tabdiv{padding:5px; margin:10px 0;  border:1px solid #ccc}
.tabdiv ul {margin:0; padding:0}
.tabdiv li{background:url(http://2.bp.blogspot.com/-47J9PtD6rAs/TsFyYBqUxBI/AAAAAAAACe8/nX6c2RZ9Yi8/s000/list_bg.png) no-repeat center left; list-style:none; padding:4px 0 4px 10px; margin:0; border-bottom:dotted 1px #eaeaea}
.ui-tabs-hide{display:none}

#tabzine img, #disqus_thread{border:none; height:auto; width:auto; padding:0; display:block}

/* related post*/
#related-posts {float:center; width:86%; text-transform:none; height:100%; min-height:100%; padding-top:0; padding-left:5px; margin:0 0 10px 30px}
#related-posts h2{font-weight: bold; color: black; margin-bottom: 0.75em; margin-top: 0em; padding-top: 0em;}
#related-posts a{color:black; }
#related-posts a:hover{color:#fef4e9; border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px; 
-webkit-box-shadow:0 1px 2px rgba(0,0,0,.2); -moz-box-shadow:0 1px 2px rgba(0,0,0,.2); box-shadow:0 1px 2px rgba(0,0,0,.2); 
background:#f78d1d; 
background: linear-gradient(top,#faa51a,#f47a20); 
background:-webkit-gradient(linear,left top,left bottom,from(#faa51a),to(#f47a20)); 
background:-webkit-linear-gradient(top,#faa51a,#f47a20); 
background:-moz-linear-gradient(top,#faa51a,#f47a20); 
background:-o-linear-gradient(top,#faa51a,#f47a20); 
background:-ms-linear-gradient(top,#faa51a,#f47a20); 
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=&#39;#faa51a&#39;,endColorstr=&#39;#f47a20&#39;)}

 /*----- readmore orange ----*/
.more-or a:link, .more-or a:visited, .more-or a:active{color:#fef4e9; padding:2px; display:block; margin:0; text-align:center; text-decoration:none; text-shadow:0 1px 1px rgba(0,0,0,.3); 
border:solid 1px #da7c0c; border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px; 
-webkit-box-shadow:0 1px 2px rgba(0,0,0,.2); -moz-box-shadow:0 1px 2px rgba(0,0,0,.2); box-shadow:0 1px 2px rgba(0,0,0,.2); 
background:#f78d1d; 
background: linear-gradient(top,#faa51a,#f47a20); 
background:-webkit-gradient(linear,left top,left bottom,from(#faa51a),to(#f47a20)); 
background:-webkit-linear-gradient(top,#faa51a,#f47a20); 
background:-moz-linear-gradient(top,#faa51a,#f47a20); 
background:-o-linear-gradient(top,#faa51a,#f47a20); 
background:-ms-linear-gradient(top,#faa51a,#f47a20); 
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a',endColorstr='#f47a20')}

.more-or a:hover{
background:#f47c20; 
background: linear-gradient(top,#f88e11,#f06015); 
background:-webkit-gradient(linear,left top,left bottom,from(#f88e11),to(#f06015)); 
background:-webkit-linear-gradient(top,#f88e11,#f06015); 
background:-moz-linear-gradient(top,#f88e11,#f06015); 
background:-o-linear-gradient(top,#f88e11,#f06015); 
background:-ms-linear-gradient(top,#f88e11,#f06015); 
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11',endColorstr='#f06015')}

 /*----- readmore green ----*/
.more-gr a:link, .more-gr a:visited, .more-gr a:active{color:#e8f0de; padding:2px; display:block; margin:0; text-align:center; text-decoration:none; text-shadow:0 1px 1px rgba(0,0,0,.3); 
border:solid 1px #538312; border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px;
-webkit-box-shadow:0 1px 2px rgba(0,0,0,.2); -moz-box-shadow:0 1px 2px rgba(0,0,0,.2); box-shadow:0 1px 2px rgba(0,0,0,.2); 
background:#64991e; 
background: linear-gradient(top, #7db72f, #4e7d0e);
background:-webkit-gradient(linear,left top,left bottom,from(#7db72f),to(#4e7d0e));
background:-webkit-linear-gradient(top, #7db72f, #4e7d0e);
background:-moz-linear-gradient(top, #7db72f, #4e7d0e); 
background:-o-linear-gradient(top, #7db72f, #4e7d0e);
background:-ms-linear-gradient(top, #7db72f, #4e7d0e);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db72f',endColorstr='#4e7d0e')}

.more-gr a:hover{
background:#538018; 
background: linear-gradient(top, #6b9d28, #436b0c);
background:-webkit-gradient(linear,left top,left bottom,from(#6b9d28),to(#436b0c)); 
background:-webkit-linear-gradient(top, #6b9d28, #436b0c);
background:-moz-linear-gradient(top, #6b9d28, #436b0c); 
background:-o-linear-gradient(top, #6b9d28, #436b0c);
background:-ms-linear-gradient(top, #6b9d28, #436b0c);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6b9d28',endColorstr='#436b0c')}


 /*----- comment ----*/
#comments h4{margin:1em 0;font-weight:bold;line-height:1.4em;color:#999}
#comments-block{margin:1em 0 1.5em;line-height:1.6em}
#comments-block .comment-author{margin:0.5em 0}
#comments-block .comment-body{margin:0.25em 0 0}
#comments-block .comment-footer{margin:-0.25em 0 2em;line-height:1.4em}
#comments-block .comment-body p{margin:0 0 0.75em}.deleted-comment{font-style:italic;color:gray}

 /*----- next prev ----*/
#blog-pager-newer-link{float:left;border-right:1px solid #ccc;padding-right:15px}
#blog-pager-older-link{float:right;border-left:1px solid #ccc;padding-left:15px}
#blog-pager{border-top:1px solid #ccc;text-align:center;padding:10px 0 0;margin-right:5px}
 
/*----- footer ----*/
#footer-wrapper{font-size:11px; border-top:2px solid #ccc; width:100%; margin:0 auto 25px; text-align:center; color:#999; padding:0}
.footer{border-top:1px solid #ccc; margin:1px 0 0; padding:5px 0}

/*----- footer box ----*/
#topfooter{color:#666; padding:0 5px 0 5px; margin:10px 0 10px 0; 
border:1px solid #ccc; border-radius:0 0 3px 3px; -webkit-border-radius:0 0 3px 3px; -moz-border-radius:0 0 3px 3px;
background:#fff; 
background: linear-gradient(top,#fff,#ededed); 
background:-webkit-gradient(linear,left top,left bottom,from(#fff),to(#ededed)); 
background:-webkit-linear-gradient(top,#fff,#ededed); 
background:-moz-linear-gradient(top,#fff,#ededed);  
background:-o-linear-gradient(top,#fff,#ededed); 
background:-ms-linear-gradient(top,#fff,#ededed); 
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#ededed')}

#topfooter h2{color:#666;margin;0;padding:0 0 4px;border-bottom:2px solid #ccc;}
   .foot{width:240px; float:left; padding:4px; margin:0 4px 0 px}
   .kanan{width:420px; float:right; padding:4px; margin:0}
#topfooter ul{list-style:none;margin:0;padding:0}
  #topfooter li{background:url(http://2.bp.blogspot.com/-47J9PtD6rAs/TsFyYBqUxBI/AAAAAAAACe8/nX6c2RZ9Yi8/s000/list_bg.png) no-repeat left center;margin:0;padding:2px 0 2px 25px;text-indent:-15px;line-height:1.5em;border-bottom:1px dotted#ccc}
#topfooter .widget{margin:0 0 1.5em;padding:0 0 1.5em}
#topfooter img{width:75px; height:25px; padding:0 5px 4px 0}

#bottomlink{text-align:center;padding:0;margin:15px 0 25px}

/*----- button ----*/
.buy{color:#fef4e9; margin:85px 0; width:40px; cursor:pointer; text-align:center; text-decoration:none; padding:5px; text-shadow:0 1px 1px rgba(0,0,0,.3); 
border:solid 1px #da7c0c; border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px; 
box-shadow:0 1px 2px rgba(0,0,0,.2); -webkit-box-shadow:0 1px 2px rgba(0,0,0,.2); -moz-box-shadow:0 1px 2px rgba(0,0,0,.2); 
background:#f78d1d; 
background: linear-gradient(top, #faa51a, #f47a20); 
background:-webkit-gradient(linear,left top,left bottom,from(#faa51a),to(#f47a20)); 
background:-webkit-linear-gradient(top, #faa51a, #f47a20); 
background:-moz-linear-gradient(top, #faa51a, #f47a20); 
background:-o-linear-gradient(top, #faa51a, #f47a20); 
background:-ms-linear-gradient(top, #faa51a, #f47a20); 
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a',endColorstr='#f47a20')}
.buy a{color:#fef4e9;}
.buy:hover{
background:#f47c20; 
background: linear-gradient(top, #f88e11, #f06015);
background:-webkit-gradient(linear,left top,left bottom,from(#f88e11),to(#f06015)); 
background:-webkit-linear-gradient(top, #f88e11, #f06015);
background:-moz-linear-gradient(top, #f88e11, #f06015); 
background:-o-linear-gradient(top, #f88e11, #f06015);
background:-ms-linear-gradient(top, #f88e11, #f06015);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11',endColorstr='#f06015')}


#green
{min-width:auto; display:inline-block;zoom:1; *display:inline; vertical-align:baseline; margin:0 2px; outline:none; cursor:pointer; text-align:center; text-decoration:none; font:14px/100% Arial,Helvetica,sans-serif; padding:.5em 2em .55em; text-shadow:0 1px 1px rgba(0,0,0,.3);
border:solid 1px #538312; border-radius:.5em; -webkit-border-radius:.5em; -moz-border-radius:.5em;
box-shadow:0 1px 2px rgba(0,0,0,.2); -webkit-box-shadow:0 1px 2px rgba(0,0,0,.2); -moz-box-shadow:0 1px 2px rgba(0,0,0,.2); color:#e8f0de; 
background:#64991e; background:-webkit-gradient(linear,left top,left bottom,from(#7db72f),to(#4e7d0e)); background:-moz-linear-gradient(top, #7db72f, #4e7d0e); background:-o-linear-gradient(top, #7db72f, #4e7d0e);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db72f',endColorstr='#4e7d0e')}

#green:hover
{text-decoration:none; background:#538018; background:-webkit-gradient(linear,left top,left bottom,from(#6b9d28),to(#436b0c)); background:-moz-linear-gradient(top, #6b9d28, #436b0c); background:-o-linear-gradient(top, #6b9d28, #436b0c);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6b9d28',endColorstr='#436b0c')}

/*----- other ----*/
.feed-links{clear:both;line-height:2.5em; display:none}
.main .Blog{border-bottom-width:0}
.profile-img{float:left;margin:0px 5px 5px 0px; padding:4px;border:1px solid #ccc}
.profile-data{margin:0;font-size:11px;color:#999;font-weight:bold;line-height:1.6em}
.profile-datablock{margin:0.5em 0 0.5em}
.profile-textblock{margin:0.5em 0;line-height:1.6em}
.profile-link{font-size:11px}

/* slider*/
#slider {position:relative; width:100%; height:300px; -webkit-box-shadow:0 1px 5px rgba(0,0,0,.5); -moz-box-shadow:0 1px 5px rgba(0,0,0,.5); box-shadow:0 1px 5px rgba(0,0,0,.5);
background: url(https://lh3.googleusercontent.com/-fMYSOxayiBU/UGiQUvws7tI/AAAAAAAAARo/ns3AprQrnVs/s800/loading.gif) no-repeat 50% 45% }
#slider img {position:absolute; top:0px; left:0px; display:none}
#slider a {border:0; display:block;}

/* The Nivo Slider styles */
.nivoSlider {position:relative;}
.nivoSlider img {position:absolute; top:0px; left:0px;}
.nivoSlider a.nivo-imageLink {position:absolute; top:0px; left:0px; width:100%; height:100%; border:0; padding:0; margin:0; z-index:6; display:none;}
.nivo-slice {display:block; position:absolute; z-index:5; height:100%;}
.nivo-box {display:block; position:absolute; z-index:5;}
.nivo-directionNav a {position:absolute; top:35%; z-index:9; cursor:pointer;}
.nivo-prevNav {left:0px;}
.nivo-nextNav {right:0px;}
.nivo-directionNav a{display:block; width:55px; height:120px; background:url(https://lh5.googleusercontent.com/-iik16-ZCscg/UGr4tptAqcI/AAAAAAAAASs/3Pj9B0mCT2I/s800/arrows.png) no-repeat;  text-indent:-9999px; border:0}
a.nivo-nextNav {background-position:-65px 0; right:0;}
a.nivo-prevNav {left:0;}
.nivo-caption {position:absolute; bottom:20px; left:0; background:#fbfbfb; color:#555; width:35%; height:10%;  z-index:8; -webkit-border-radius:0 6px 6px 0; -moz-border-radius:0 6px 6px 0; border-radius:0 6px 6px 0; -moz-opacity:.30; filter:alpha(opacity=30); opacity:.30; }
.nivo-caption { font-size:18px;}
.nivo-caption a {color:#efe9d1; display:inline !important;}
.nivo-caption p {padding:5px; margin:0}
.nivo-html-caption {display:none;}
.nivo-controlNav a {position:relative; z-index:9; cursor:pointer;}
.nivo-controlNav a.active {font-weight:bold;}
.nivo-controlNav a {display:block; width:22px; height:22px; background:url(http://4.bp.blogspot.com/-jQWCeMA4bLI/TeiNqrIkyHI/AAAAAAAAASQ/c35RQfTbw_I/s1600/bullets.png) no-repeat; text-indent:-9999px; border:0; margin-right:3px; float:left;}
.nivo-controlNav a.active {background-position:0 -22px;}

/* halaman home */
<b:if cond='data:blog.url == data:blog.homepageUrl'>
.ads, .market1, .market2{display:none}
.find, .popular{display:block !important}
.post{width:145px; height:210px; margin:0 6px 0 0; float:left; overflow:hidden; border:0; padding:0}
.post h2{font-size:12px;  font-weight:700; height:14px; width:145px;overflow:hidden; border:0}
</b:if>

/* halaman posting */
<b:if cond='data:blog.pageType == &quot;item&quot;'>
#main-wrapper{float:left; overflow:hidden}
#sidebar-wrapper{float:right; overflow:hidden}
.sidebar, .map, .ads, .find, .popular, .market1, .market2, .profile,  #blog-pager, #blog-pager-newer-link, #blog-pager-older-link, #topfooter{display:none}
.online{display:block}
.fblike{width:100%; margin-bottom:5px}
.post img{float:left; padding:3px; border:1px solid #ccc; width:250px; height:175px}

#product{float:right; margin:-20px 0; padding:0 0 5px 5px; width:310px; height:auto; }
.detail{background:url(http://2.bp.blogspot.com/-47J9PtD6rAs/TsFyYBqUxBI/AAAAAAAACe8/nX6c2RZ9Yi8/s000/list_bg.png) no-repeat left center; width:293px; border-bottom:1px solid #ccc; margin:0 25px 5px 0; padding:0 0 0 15px;  font-size:12px; font-weight:bold}
.prkiri{float:left; width:100px; height:auto; margin:10px 0; font-weight:bold}
.prkanan{float:left; width:auto; height:auto; margin:10px 0; font-weight:bold}
</b:if>

/* halaman search */
<b:if cond='data:blog.pageType != &quot;item&quot;'>
.post h2{font-size:12px; font-weight:normal; height:14px; width:145px;overflow:hidden; border:0}
.post{width:145px; height:210px; margin:0 6px 0 0; float:left; font-size:11px; overflow:hidden; border:0; padding:0}
.map, .online, .share, .home-link, .popular, .find, .market1, .market2, .profile {display:none}
</b:if>

/* halaman static */
<b:if cond='data:blog.pageType == &quot;static_page&quot;'>
.post h2{margin:5px 0 10px 0; padding:0 0 4px 0; font-size:16px; font-weight:bold; border-bottom:3px double #ccc; width:100%; height:auto}
.post{font-size:12.3px; width:99.4%; height:auto; margin-right:5px; padding:0; border:0; text-align:justify}
.sidebar, .map, .share, .ads, .popular, .market1, .market2, .profile,  #blog-pager, #blog-pager-newer-link, #blog-pager-older-link, .breadcrumbs {display:none}
</b:if>

/* company profile */
<b:if cond='data:blog.url == &quot;http://xclab.blogspot.com/p/company-profile.html&quot;'>
.find, .profile {display:block !important}
#slider {position:relative; width:300px;
background: url(https://lh3.googleusercontent.com/-fMYSOxayiBU/UGiQUvws7tI/AAAAAAAAARo/ns3AprQrnVs/s800/loading.gif) no-repeat 50% 45% }
.nivo-caption, .nivo-controlNav, .nivo-directionNav{display:none !important}
.profile{margin:0; padding:0}
</b:if>

/* contact us */
<b:if cond='data:blog.url == &quot;http://xclab.blogspot.com/p/contact-us.html&quot;'>
table.tr-caption-container{padding:4px;border:none}
.map{background:#fdfdfd; display:block}
.map h2{margin:-5px 0 8px -5px; width:100%;  padding:5px; border-top:solid 1px #ccc; background:#64991e; background:-webkit-gradient(linear,left top,left bottom,from(#7db72f),to(#4e7d0e)); background:-moz-linear-gradient(top, #7db72f, #4e7d0e); background:-o-linear-gradient(top, #7db72f, #4e7d0e);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=&#39;#7db72f&#39;,endColorstr=&#39;#4e7d0e&#39;);  box-shadow:0 1px 2px rgba(0,0,0,.2); -webkit-box-shadow:0 1px 2px rgba(0,0,0,.2); -moz-box-shadow:0 1px 2px rgba(0,0,0,.2)}
</b:if>

/* map navigation */
<b:if cond='data:blog.url == &quot;http://xclab.blogspot.com/p/navigation-map.html&quot;'>
#main-wrapper{width:100%}
#sidebar-wrapper{display:none}
</b:if>

/* chat */
<b:if cond='data:blog.url == &quot;http://xclab.blogspot.com/p/chat-with-me.html&quot;'>
#backtop, #header-wrapper, #crosscol-wrapper, #footer-wrapper, #topfooter, .post h2 {display:none !important}
#wrap2{margin:0px}
#outer-wrapper{width:750px; height:250px; margin:0 auto}
#main-wrapper{width:425px; height:100%; float:left; overflow:hidden}
#sidebar-wrapper{float:right; overflow:hidden}
.market1, .market2{display:block !important}
.ym{float:left; width:auto; height:auto}
.bbm{float:left; width:auto; height:48px; margin-left:10px; padding:7px  0 0 45px; font-size:16px; font-weight:bold; 
text-shadow:0 1px 1px rgba(0,0,0,.3); background:url(http://lh5.googleusercontent.com/-v-W4_RWqPE0/UIA447ydqEI/AAAAAAAAAe0/pPo3r9gZ8u4/s800/bbm.png) no-repeat 0 -7px}
</b:if>

/* thank you */
<b:if cond='data:blog.url == &quot;http://xclab.blogspot.com/p/thank-you.html&quot;'>
#backtop, #sidebar-wrapper, #header-wrapper, #crosscol-wrapper, #footer-wrapper, #topfooter, .post h2 {display:none !important}
#wrap2{margin:0px}
#outer-wrapper{width:300px; height:200px; margin:15% auto}
#main-wrapper{width:100%; height:100%}
.close{bottom:0; right:0}
</b:if>

/* gallery shop */
<b:if cond='data:blog.url == &quot;http://xclab.blogspot.com/p/gallery-shop.html&quot;'>
#slider {display:block !important}
</b:if>
